
/* 
/*


@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/*-------------------variable css-----------------------------*/

/* :root{ */

    /* ======    colors ========            */
           /* ======   color mode hsl  HSL(hue ,saturation,lightnes)         */
   /* --first-color: hsl(354,100%,65%);
   --tittle-color: hsl(244,24%,25%);
   --text-color: hsl(224,16%,43%);
   --body_color: hsl(258,60%,98%);
   --container-color: #fff; */


       /* ======    font an typograpgy ========            */    /* ======    colors ========            */
       /* .5rem=8px | 1rem= 16px...             */
       /* --body-font:"Rubik", sans-serif;
       --h1-font-size:2.25rem;
       --h2-font-size:1.55rem;
       --h2-font-size:1.25rem;
       --normal-font-size:1rem;
       --small-font-size:0.9rem;
       --smaller-font-size:0.8rem; */


       /* ======    font weight========            */
    /* --font-medium: 500;
    --font-semibold: 600;

    --font-bold: 700;
    --font-medium: 500;
    
     /* ======    box shadow         */
     /* --shadow: 0px 5px 20px 0px rgb(69 69 96/ 10%); */


         /* ======    box radius         */
     /* --border-radius:20px;      */ 



/*-------------------                       base                     -----------------------------*/

/* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body,
button,input,textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);

}
body{
    background-color: var(--body_color);
    line-height: var(1.7);
    color: var(--text-color);
}
h1,h2,h3{
    color: var(--tittle-color);
    font-weight: var(--font-semibold);
    line-height: 1.2;
}
ul{
    list-style: none;

}
a{
    text-decoration: none;

}

button{
    cursor: none;
    border: none;
    outline: none;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align:middle;
} */

/*-------------------                     resuable css                -----------------------------*/
/* .container{
    max-width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.grid{
    display:grid
}
.section{
    padding-top: 7rem;
    padding-bottom: 2rem;
}
.section_title{
font-size: var(--h1-font-size);
margin-left: 0.875rem;
font-weight: var(--font-bold);
position: relative;
margin-bottom: 3.7rem;
} */
