.otherskill-container {
  height: 100vh;

}
.skill-box {
  height: auto;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  border: 2px solid #344310;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right:1rem;
}
.shrink-box {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 12px;
  align-items: center;
  place-items: center;
}
@media (max-width: 600px) {
  .shrink-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
.shrink-box2 {
  background-color: rgb(255, 255, 255);
  color: #344310;

  padding: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  width: clamp(150px, 30vw, 200px);
  height: clamp(100px, 20vw, 200px);
  border: 2px solid black;
}
.full-icon {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.full-icon2 {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.full-icon3 {
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 3px;
}
